*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{

    justify-content: center;
    align-items: center;
    min-height: 100%;
 background:#a1e2e251;
}
.cube{
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
 margin-left: 600px;
 margin-top: 120px;
    animation: animate 18s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) translateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
h1{
    top:0;
    margin-top: 34px;
    margin-left: 12px;
    color: mediumpurple;
}

.cube div{
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    margin-left: 120px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515 , #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cube div span img{
    width:300px;
    height: 300px;
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    transform: rotateX(-0deg) rotateY(-50deg) translateZ(150px);
}
.top::before{
    position: absolute;
    top: 0;
 left: 0;
 width: 300px;
 height: 300px;
transform: translateZ(-499px);
}
h4{
    margin-top:80px;
    margin-left:70px;
    padding-bottom: 12px;
    color: rgba(58, 206, 93, 0.933);
    font-size: medium;
    font-style: italic;
    font-weight: 5000;
}
.cubes{
    position: absolute;
  left:160px;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
 margin-top: 120px;
    animation: animates 4s linear infinite;
}
@keyframes animates{
    0%{
        transform: rotateX(-30deg) translateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cubes div{
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    overflow-x: visible;
    margin-left: 120px;
    padding-right: 12px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cubes div span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515 , #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cubes div span img{
    width:300px;
    height: 300px;
}
.tops{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background:linear-gradient(10deg  #151515,rgba(12, 107, 12, 0.448));
    transform: rotateX(90deg) translateZ(150px);
}
.tops::before{
    position: absolute;
    top: 0;
 left: 0;
 width: 300px;
 height: 300px;
transform: translateZ(-499px);
}